.FaqHeading {
  font-size: 6vh;
  text-decoration: underline;
  color: rgb(59, 92, 138);
  background-color: rgb(228, 234, 247);
  margin: 0;
}

.FaqContainer {
  display: grid;
  padding: 3vh 20vw 10vh 20vw;
  background-color: rgb(228, 234, 247);
}

.FaqItem {
  padding: 2vh 0 2vh 0;
  color: rgb(64, 83, 100);
  margin: 2vh;
  border-radius: 15px;
}

.FaqItem span{
  padding-left: 10px;
  color: rgb(84, 114, 104);
}

.FaqItem p{
  margin-top: 5px;
  padding: 10px 10px 10px 10px;
  color: rgb(43, 101, 137);
  background-color: rgb(173, 198, 201);
}
/* .FaqContainer :hover{
  background-color: rgb(239, 179, 29);
} */