.cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  padding: 6vh 0 10vh 0;
  background-color: rgb(228, 234, 247);

}

.card {
  background-color: rgb(68, 88, 134);
  border: 2px solid rgb(152, 180, 198);
  border-radius: 5px;
  padding: 4vw;
  margin: 2vh;
  box-shadow: 10px 5px 13px rgb(209, 201, 201);
  color: white;
}


.cardTitle{
  color: rgb(51, 199, 219);
  text-decoration: solid;
}