.footer {
  background-color: #1a2735;
  padding: 2rem;
  color: #e5e0e0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-bottom: 1rem;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #7d9bbb;
}

.footer-section h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin: 0.3rem 0;
}

.footer-section a {
  color: #e5e0e0;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section a:hover {
  color: #ae7c7c;
}

.subscribe {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.subscribe input[type="email"] {
  padding: 0.5rem;
  padding-left: 15px;
  margin-left: 60px;
  border: 1px solid #bfbbbb;
  border-radius: 5px 0 0 5px;
  outline: none;
  height: 40px;
  width: 200px;
}

.subscribe-btn {
  padding: 0.5rem 1rem;
  background-color: #4b7098;
  border: none;
  color: #e5e0e0;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  transition: background-color 0.3s ease;
}

.subscribe-btn:hover {
  background-color: #375d85;
}

.footer-bottom {
  text-align: center;
  padding-top: 1rem;
  border-top: 1px solid #dddddd;
  font-size: 0.9rem;
  width: 100%;
  color: #e5e0e0;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .footer-section {
      margin-bottom: 1.5rem;
  }

  .subscribe input[type="email"] {
      width: 100%;
      margin-bottom: 0.5rem;
  }

  .subscribe-btn {
      width: 100%;
      border-radius: 5px;
  }
}
