
.DashboardContainer {
    display: flex;
    height: 100vh; 
    background-color: #f5f5f5; 
}

.navigation {
    width: 20%; 
    background-color: #3f4355; 
    padding: 20px;
    text-align: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.naviBtn {
    background-color: #cacfd4; 
    color: #333335; 
    border: none; 
    padding: 15px;
    margin: 10px 0; 
    width: 90%; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.naviBtn:hover {
    background-color: #cc9090bb; 
    border: 2px solid #c6c6cf ;
    color: white;
    scale: 1.05;
}

.logout{
    color: rgb(255, 255, 255);
    background-color: #cf7272bb;
}
.logout:hover{
    border: 2px solid #c6c6cf ;
    background-color: #d36262bb;
}

.RHS {
    flex: 1;
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
}

.profileNavi {
    display: flex; 
    justify-content: flex-end; 
    margin-bottom: 20px; 
}

.profile {
    background-color: #3f4355;
    color: white; 
    border: none;
    padding: 10px 15px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.profile:hover {
    background-color: #232324;
    scale: 1.02;
}

.details {
    flex: 1; 
    background-color: #ffffff; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    overflow-y: auto; 
}
